body{
  background-color: #f0f0f0;
  width: fit-content;
  max-width: 1440px;
  margin: auto;

}
.flightsPage *{
  font-family: "Afacad", system-ui;
}

.logoContainer{
  height: fit-content;
  text-align: center;
}

img{
  display: block;

  /*vertical-align: top;*/
}

.MedFont{
  font-weight: 500 !important;
}
::-webkit-scrollbar {
  width: 10px; /* Scrollbar genişliği */
  background-color: #f1f1f1; /* Arka plan rengi */

}

::-webkit-scrollbar-thumb {
  background-color: #4A1B96; /* Tutma yeri rengi */
  border-radius: 10px; /* Köşeleri yuvarlatır */
}


::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Hover rengi */
}